<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Portfolio</title>

</head>

<body>
    <nav class="nav-container">
        <input type="checkbox" id="nav-click">
        <label for="nav-click" class="nav-boton"><i class="fa-solid fa-bars-staggered fa-2x"></i></label>
        <div class="nav-logo">
            <a href="#"><i class="fa-solid fa-code"></i> Juan Calero</a>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <div class="main-title">
            <h1>Hi, I´m Juan</h1>
            <h2>Programmer</h2>
            <p>I am student of software development, web development and digital applications.</p>
            <ul>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-github-square"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
            </ul>
            <div>
                <a href="#"> Scroll down <i class="fa-solid fa-angle-down"></i></a>
            </div>
        </div>
        <div class="main-image">
            <img src="{% static 'img/me.png' %}" alt="">
        </div>
    </div>
    {% comment %} <div class="about-container">
        <h1>About me</h1>
        <p>My introduction</p>
    </div> {% endcomment %}
</body>
</html>